{% extends 'base.html' %}
{% load static %}


{% block title %}
About Us
{% endblock %}


{% block main %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row  text-center" id="bg111">
        <div class="col-sm-12">
            <h2 class="fw-bold mt-5 display-4 " style="color: orange;" >About SmartBuildHub</h2>
            <h2 class="fw-bold display-4 text-white "  > _______ </h2>
            <h4 class="text-white" >Revolutionizing the construction industry with innovative smart building solutions <br> and sustainable
                practices.</h4>
            <br>
            <br>
        </div>
    </div>
    <div class="container  text-center">
        <div class="row text-center mt-5">
            <div class="col-sm-12">
                <p class="fw-bold"> WHO WE ARE</p>
                <h2 class="fw-bold">Our Mission</h2>
                <h5 class="">At SmartBuildHub, we're committed to transforming the future of construction through
                    cutting-edge <br>
                    technology, sustainable practices, and unparalleled expertise. We believe in creating buildings that
                    <br>
                    are not just structures, but intelligent ecosystems that enhance lives.</>





            </div>

            <div class="row mt-5 ">
                <div class="container my-4">
                    <div class="row text-center">

                        <!-- Total Projects -->
                        <div class="col-md-3 stretch-card grid-margin">
                            <div class="card text-white position-relative"
                                style="background: linear-gradient(120deg, #c3cdca, #44c1b2); border: none; overflow: hidden;">

                                <!-- Background SVG Circle -->
                                <img src="{% static 'images/circle.1541da91.svg' %}" class="card-img-absolute"
                                    alt="circle"
                                    style="position: absolute; top: 0; right: 0; width: 158px; height: 200px; opacity: 0.9; pointer-events: none;">

                                <div class="card-body position-relative">
                                    <h4 class="font-weight-normal mb-3 text-white">
                                        Total Project
                                        <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                                    </h4>
                                    <h2 class="mb-4 text-white">758+</h2>
                                    <h6 class="card-text text-white">Increased by 45%</h6>
                                </div>
                            </div>
                        </div>

                        <!-- Active Contractors -->
                        <div class="col-md-3 stretch-card grid-margin ">
                            <div class="card text-white position-relative"
                                style="background: linear-gradient(120deg, #96c0cb, #5ccaec); border: none; overflow: hidden;">
                                <!-- Background SVG Circle -->
                                <img src="{% static 'images/circle.1541da91.svg' %}" class="card-img-absolute"
                                    alt="circle"
                                    style="position: absolute; top: 0; right: 0; width: 158px; height: 200px; opacity: 0.9; pointer-events: none;">

                                <div class="card-body position-relative">
                                    <h4 class="font-weight-normal mb-3 text-white">
                                        Active Contractor
                                        <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                                    </h4>
                                    <h2 class="mb-4 text-white">250+</h2>
                                    <h6 class="card-text text-white">Increased by 12%</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 stretch-card grid-margin ">
                            <div class="card text-white position-relative"
                                style="background: linear-gradient(120deg, #f6b25f, #ec5ca1); border: none; overflow: hidden;">
                                <!-- Background SVG Circle -->
                                <img src="{% static 'images/circle.1541da91.svg' %}" class="card-img-absolute"
                                    alt="circle"
                                    style="position: absolute; top: 0; right: 0; width: 158px; height: 200px; opacity: 0.9; pointer-events: none;">

                                <div class="card-body position-relative">
                                    <h4 class="font-weight-normal mb-3 text-white">
                                        Weekly Enquiries
                                        <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                                    </h4>
                                    <h2 class="mb-4 text-white">150+</h2>
                                    <h6 class="card-text text-white">Increased by 60%</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 stretch-card grid-margin ">
                            <div class="card text-white position-relative"
                                style="background: linear-gradient(120deg, #f6b25f, #ec5ca1); border: none; overflow: hidden;">
                                <!-- Background SVG Circle -->
                                <img src="{% static 'images/circle.1541da91.svg' %}" class="card-img-absolute"
                                    alt="circle"
                                    style="position: absolute; top: 0; right: 0; width: 158px; height: 200px; opacity: 0.9; pointer-events: none;">

                                <div class="card-body position-relative">
                                    <h4 class="font-weight-normal mb-3 text-white">
                                        Weekly Enquiries
                                        <i class="mdi mdi-chart-line mdi-24px float-end"></i>
                                    </h4>
                                    <h2 class="mb-4 text-white">150+</h2>
                                    <h6 class="card-text text-white">Increased by 60%</h6>
                                </div>
                            </div>
                        </div>5



                    </div>
                </div>


            </div>


        </div>



        <div class="row">
            <div class="col-sm-6">
                <p>OUR STORY</p>

            </div>

        </div>
    </div>





</body>

</html>


{% endblock %}