{% extends 'homeownerbash.html' %} 

{% load static %}


{% block homeowner %}

<h3>Application for {{project.projectname}}</h3>
<table class="table" >
    <tr>
        <th>S.No</th>
        <th>Contractor Name</th>
        <th>Design</th>
        <th>Estimated Cost</th>
        <th>Estimated Duration</th>
        <th>status</th>
        <th>Submitted At</th>
        <th>Action</th>
    </tr>

    {% for a in applications %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{a.contractor.name}}</td>

        <td>
            {% if a.design_file %}
            <a href="" class="btn bt-primary" target="_blank">View</a>
            {% else %}
            No Design File 
            {% endif%}
        </td>
        <td>{{a.estimated_budget}}</td>
        <td>{{a.estimated_duration}}</td>
        <td>
            {% if a.status == 'pending' %}
            <span class="bandage bandage-warning " >pending</span>
            {% elif a.status == 'approved' %}
            <span class="btn bt-success" >Approved</span>
            {% elif a.status == 'rejected' %}
            <span class="btn btn-danger" >Rejected</span>
            {% else %}
            {{a.status}}
            {% endif %}
        </td>
        <td>{{a.submitted_at}}</td>
        <td>
            <a href="" class="btn btn-success">Approve</a>
            <a href="" class="btn btn-danger" >Reject</a>
        </td>

       
    </tr>


    {% endfor %}
</table>



{% endblock %}