{% extends 'adminbase.html' %} 
{% block admin %}

<div class="row" id="bg-section">
            <div class="col-sm-4 mx-auto my-auto">
                <div class="card p-4 card01 shadow h-100 mt-5" >
                    
                    <h4 class="text-center fw-bold py-2" style="color: orange;"> Welcome Admin</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-2">
                            <input type="password" name="oldpwd" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Old password</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" name="newpwd" class="form-control" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">New Password</label>
                        </div>
                        <div class="form-floating mt-2">
                            <input type="password" name="confirmpwd" class="form-control" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">Confirm Password</label>
                        </div>
                        <button type="submit" class="btn btn-dark mt-4 w-100">Change Password</button>
                        <p class="mt-5">$copy;Nikhil yadav <a href="" class="float-end fw-semibold">Back to home</a></p>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}